
[run]
branch = True
omit =
        */test/*
        */usr/local/lib*
        */__init__.py
        */*/chalicelib/common/utilities.py
        */app.py
        **/*database_populator.py
        **/*ods_location_comparator.py

[report]
omit =
        */test/*
        */usr/local/lib*
        */__init__.py
        */*/chalicelib/common/utilities.py
        */app.py
        **/*database_populator.py
        **/*ods_location_comparator.py
